<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <!-- Menu button for smallar screens -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <!-- Site name for smallar screens -->
            <a href="/"><span >Book Store Manager</span></a>

            <!-- Navigation starts -->
            <div class="nav-collapse collapse">

                <div class="pull-right navbar-logo">
                    <ul class="nav pull-right">
                        <li>
                            <a href="http://www.jesseliberty.com" target="_blank">
                                A Pluralsight Demonstration Program
                            </a>
                        </li>
                        <li>
                            <a href="http://www.nuget.org/packages/HotTowel.Angular/" target="_blank">
                                <img src="../../Content/images/icon.png" /> Hot Towel
                            </a>
                        </li>
                        <li>
                            <a href="http://www.servicestack.net/">
                                <img src="../../Content/images/ServiceStack.png" /> ServiceStack
                            </a>
                        </li>

                        <li>
                            <a href="http://getbootstrap.com/">
                                <img src="../../Content/images/Bootstrap.png" />
                            </a>
                        </li>

                        <li class="dropdown dropdown-big">
                            <a href="http://www.angularjs.org" target="_blank">
                                <img src="../../Content/images/AngularJS-small.png" />
                            </a>
                        </li>
                        

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>